<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <copex_warrantylabel>
            <general>
                <enabled>0</enabled>
                <language/>
                <trigger_text/>
                <alt_text/>
                <min_width_px>420</min_width_px>
                <excluded_product_types>virtual,downloadable,giftcard,mageworx_giftcards</excluded_product_types>
            </general>
            <notice_placement>
                <header>nested</header>
                <footer>nested</footer>
                <category>nested</category>
                <search>nested</search>
                <cart>nested</cart>
                <checkout>direct</checkout>
                <success>direct</success>
                <email>direct</email>
            </notice_placement>
            <garan>
                <enabled>0</enabled>
                <pdp>nested</pdp>
                <checkout>direct</checkout>
                <success>direct</success>
                <email>direct</email>
                <attach_terms>0</attach_terms>
                <terms_file/>
                <terms_filename>Garantiebedingungen.pdf</terms_filename>
            </garan>
        </copex_warrantylabel>
    </default>
</config>
